<div class="container my-4">
  @if (!showForm) {
  <h3> {{ title }} </h3>
  } @else {
    <h3> {{ titleForm }} </h3>
  }

  <div class="d-flex justify-content-between">
    <button class="btn btn-primary" (click)="setOpenForm()">
      <span class="fw-bold">
        {{ showForm ? 'Cerrar formulario' : 'Agregar tarea' }}
        <i class=" {{ showForm ? 'fas fa-close text-white' : 'fas fa-plus-circle text-white' }} "></i>
      </span>
    </button>
  </div>


  <div class="row">

    @if (showForm) {
    <div class="col">
      <task-form [task]="taskSelected" (newTaskEventEmitter)="addTask($event)">
      </task-form>
    </div>
    } @else {
    <div class="col">
      <task [tasks]="tasks" (idTaskEventEmitter)="removeTask($event)" (taskEventEmitter)="editTask($event)">
      </task>
    </div>
    }

  </div>

</div>